@import '@/styles/variables';

.bodyTypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bodyTypeIcon {
    height: 40px;
    width: auto;

    @media (min-width: 100px) {
        height: 24px;
    }

    @media (min-width: 768px) {}

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}
}

.active {
    color: $primary;
}