@import '@/styles/_variables.scss';

.headerSearch {
    outline: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    @media (min-width: 476px) {
        width: 0;
    }

    @media (min-width: 768px) {
        width: 0px;
    }

    @media (min-width: 992px) {
        width: 200px !important;
    }

    @media (min-width: 1200px) {
        width: 300px !important;
    }

    @media (min-width: 1400px) {
        width: 400px !important;
    }

    &:focus-within,
    &:hover {
        box-shadow: none !important;
        border-color: $primary;
        transition: all 0.5s ease-in-out;
    }


}

.headerSearchBtn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: relative;
    left: -1px;
    color: $icon-color;
    &:hover {
        background-color: $white !important;
        color: $primary !important;
    }
}