$text-color: #444;
$icon-color: #666;
$light-text: #888;
$border-color: #eaeaea;
$primary: #C02B22;
$white: #fff;
$background-color: #f9f9f9;

.forCopy {
    @media (min-width: 100px) {}

    @media (min-width: 768px) {}

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}
}